# Tafseer Mode (streaming)
EXPO_PUBLIC_TAFSEER_STREAM_URL=https://livequran.duckdns.org/stream
YOUTUBE_TAFSEER_PLAYLIST_URL=https://www.youtube.com/playlist?list=YOUR_TAFSEER_PLAYLIST_ID

# Tilawat Mode (smart playback - no streaming URL needed)
YOUTUBE_TILAWAT_PLAYLIST_URL=https://www.youtube.com/playlist?list=YOUR_TILAWAT_PLAYLIST_ID

# Translation Mode (streaming)
EXPO_PUBLIC_TRANSLATION_STREAM_URL=https://livequran.duckdns.org/translation
YOUTUBE_TRANSLATION_PLAYLIST_URL=https://www.youtube.com/playlist?list=YOUR_TRANSLATION_PLAYLIST_ID

# Appwrite Configuration (Backend)
YOUTUBE_API_KEY=YOUR_YOUTUBE_API_KEY
APPWRITE_API_KEY=YOUR_APPWRITE_API_KEY
APPWRITE_DATABASE_ID=YOUR_DATABASE_ID
APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=YOUR_PROJECT_ID
APPWRITE_TAFSEER_COLLECTION_ID=YOUR_TAFSEER_COLLECTION_ID
APPWRITE_TILAWAT_COLLECTION_ID=YOUR_TILAWAT_COLLECTION_ID
APPWRITE_TRANSLATION_COLLECTION_ID=YOUR_TRANSLATION_COLLECTION_ID
APPWRITE_STATE_COLLECTION_ID=YOUR_STATE_COLLECTION_ID
APPWRITE_TAFSEER_BUCKET_ID=YOUR_TAFSEER_BUCKET_ID
APPWRITE_TILAWAT_BUCKET_ID=YOUR_TILAWAT_BUCKET_ID
APPWRITE_TRANSLATION_BUCKET_ID=YOUR_TRANSLATION_BUCKET_ID

# Appwrite Configuration (Frontend - Public)
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=YOUR_PROJECT_ID
EXPO_PUBLIC_APPWRITE_TILAWAT_BUCKET_ID=YOUR_TILAWAT_BUCKET_ID
EXPO_PUBLIC_TILAWAT_TRACKER_FUNCTION_ID=YOUR_FUNCTION_ID
